body {
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  display: block; }

img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto; }

/*Header*/
.header {
  height: 500px;
  width: 100%;
  background: url(../images/header_menu.png) no-repeat left top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; }

.container {
  width: 1200px; }

.menu_img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.instagram_inner {
  position: absolute;
  z-index: 1; }

i {
  display: inline-block;
  vertical-align: middle; }

.text_instagram {
  color: white;
  font-size: 16px;
  display: inline-block;
  text-align: top; }

.instagram a {
  display: block;
  color: white;
  padding: 15px 20px 0 0;
  text-decoration: none; }

/*Nav*/
.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  vertical-align: center;
  margin: 0 80px;
  position: relative;
  text-decoration: none;
  color: #777777;
  padding-top: 50px; }

.hot-dog {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px; }

h2 {
  text-align: center;
  font-size: 55px;
  padding-top: 50px; }

/*Button*/
.button {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background: #286782;
  padding: 15px 30px;
  border-radius: 5px; }

.button:hover {
  background: #063448; }

.box {
  text-align: center;
  padding-top: 85px; }

/*Section*/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .section h3 {
    color: #656568;
    font-size: 24px; }
  .section p {
    color: #555559;
    font-size: 18px; }

.img {
  width: 50%; }

.section--first {
  padding-top: 180px; }
  .section--first .img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .section--first .section_text {
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    .section--first .section_text p {
      margin-left: 130px;
      margin-right: 130px; }
    .section--first .section_text h3 {
      margin-left: 130px;
      margin-bottom: 46px; }

.section--second .img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.section--second .section_text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section--second p {
  margin-right: 130px;
  margin-left: 130px; }

.section--second h3 {
  margin-left: 130px;
  margin-bottom: 46px; }

.section--third .img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.section--third .section_text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section--third p {
  margin-left: 130px;
  margin-right: 130px; }

.section--third h3 {
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 46px; }

h3:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 3px;
  margin-right: 10px;
  background-color: #7ea4b4; }

/*Footer*/
.footer {
  width: 100%;
  height: 75px;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

p {
  font-size: 14px;
  color: #858587; }

/*Media*/
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    height: 400px;
    margin: 0; } }

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 300px;
    margin: 0; }
  ul a {
    font-size: 18px;
    margin: 0 50px; }
  .hot-dog {
    width: 80px;
    padding-top: 70px; }
  h2 {
    font-size: 30px; }
  .button {
    font-size: 16px;
    padding: 15px 25px; }
  .section--first {
    padding-top: 110px; }
  .section h3 {
    font-size: 20px;
    margin-bottom: 35px; }
  .section p {
    font-size: 16px; }
  .section h3:before {
    width: 24px; }
  .footer p {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 255px;
    margin: 0; }
  .section--first .section_text h3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 16px; }
  .section--first .section_text p {
    margin-left: 50px;
    margin-right: 50px; }
  .section--second .section_text h3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 16px; }
  .section--second .section_text p {
    margin-left: 50px;
    margin-right: 50px; }
  .section--third .section_text h3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 16px; }
  .section--third .section_text p {
    margin-left: 50px;
    margin-right: 50px; } }

@media screen and (max-width: 576px) {
  /*Header*/
  .header {
    display: none; }
  /*Button*/
  .button {
    font-size: 14px;
    padding: 10px 20px; }
  /*Section*/
  .hot-dog {
    padding-top: 40px; }
  h2 {
    padding-top: 30px;
    font-size: 24px; }
  .box {
    padding-top: 50px; }
  .section--first {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 60px; }
    .section--first .img {
      width: 100%;
      padding-bottom: 40px; }
    .section--first .section_text {
      width: 100%;
      padding-bottom: 25px; }
  .section--second {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start; }
    .section--second .img {
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      padding-bottom: 40px; }
    .section--second .section_text {
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      padding-bottom: 25px; }
  .section--third {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start; }
    .section--third .img {
      width: 100%;
      padding-bottom: 40px; }
    .section--third .section_text {
      width: 100%;
      padding-bottom: 25px; }
  /*Footer*/
  .footer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer p {
      padding-left: 8px; } }
